<nav class="navbar">
    <div class="container">
      <h1 class="logo">BOBOSITE</h1>
      <ul class="nav">
        <li><a href="/login">Conextion</a></li>
        <li><a href="">Home</a></li>
        <!-- <li><a href="#specs">Specs</a></li>
                  <li><a href="#contact">Contact</a></li> -->
      </ul>
    </div>
  </nav>
<section class="features13 cid-rVtK2SiRJK" id="features013-42">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-12 col-lg-6">
                <div class="card-wrapper">

                    <div class="img-wrapper">
                        <a href="/inscparent"> <img src="../assets/images/parent.png" alt="Mobirise"></a>

                        <div class="text-wrap">
                            <a href="/inscparent"> <h5 class="mbr-section-subtitle align-center mbr-bold mbr-fonts-style display-4">
                                je suis </h5></a>
                                <a href="/inscparent"><h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-2">
                                Parent</h4></a>

                        </div>

                    </div>

                </div>

            </div>
            <div class="card p-3 col-12 col-md-12 col-lg-6">
                <div class="card-wrapper">

                    <div class="img-wrapper card2">
                        <a href="/insrnounou"><img src="../assets/images/nno.png" alt="Mobirise"></a>

                        <div class="text-wrap">
                            <a href="/insrnounou"><h5 class="mbr-section-subtitle align-center mbr-bold mbr-fonts-style display-4">
                                Je Suis</h5></a>

                                <a href="/insrnounou"><h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-2">
                                BabySitters</h4></a>


                        </div>

                    </div>

                </div>
            </div>





        </div>
    </div>
</section>
